<!-- Main Header -->
<nav class="app-header navbar navbar-expand bg-body">
  <!-- Start Header Left -->
  <div class="navbar-header">
    <!-- Start Sidebar Toggle Button -->
    <button class="btn" type="button" (click)="toggleSidebar()">
      <i class="bi bi-list fs-3"></i>
    </button>
    <!-- End Sidebar Toggle Button -->
    
    <a href="/" class="navbar-brand">
      <span class="brand-text fw-light">FortiCab</span>
    </a>
  </div>
  <!-- End Header Left -->

  <!-- Start Header Right -->
  <ul class="navbar-nav ms-auto">
    <!-- Messages Dropdown Menu -->
    <li class="nav-item dropdown">
      <a class="nav-link" data-bs-toggle="dropdown" href="#">
        <i class="bi bi-chat"></i>
        <span class="navbar-badge badge text-bg-danger">3</span>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
        <a href="#" class="dropdown-item">
          <!-- Message Start -->
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 rounded-circle me-3">
            </div>
            <div class="flex-grow-1">
              <h3 class="dropdown-item-title">
                Brad Diesel
                <span class="float-end fs-7 text-danger"><i class="bi bi-star-fill"></i></span>
              </h3>
              <p class="fs-7">Call me whenever you can...</p>
              <p class="fs-7 text-muted"><i class="bi bi-clock-history"></i> 4 Hours Ago</p>
            </div>
          </div>
          <!-- Message End -->
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
      </div>
    </li>

    <!-- Notifications Dropdown Menu -->
    <li class="nav-item dropdown">
      <a class="nav-link" data-bs-toggle="dropdown" href="#">
        <i class="bi bi-bell"></i>
        <span class="navbar-badge badge text-bg-warning">15</span>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
        <span class="dropdown-item dropdown-header">15 Notifications</span>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="bi bi-envelope me-2"></i> 4 new messages
          <span class="float-end text-muted fs-7">3 mins</span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
      </div>
    </li>

    <!-- User Dropdown Menu -->
    <li class="nav-item dropdown">
      <a class="nav-link" data-bs-toggle="dropdown" href="#">
        <i class="bi bi-person-circle"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
        <a href="#" class="dropdown-item">
          <i class="bi bi-person me-2"></i> Profile
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="bi bi-gear me-2"></i> Settings
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="bi bi-box-arrow-right me-2"></i> Sign Out
        </a>
      </div>
    </li>
  </ul>
  <!-- End Header Right -->
</nav>
